$medium-screen: 640px;
$large-screen: 900px;
$xl-screen: 1200px;
$full-screen: 1400px;

$medium-screen-up: "min-width: 640px";
$large-screen-up: "min-width: 900px";
$xl-screen-up: "min-width: 1200px";
$full-screen-up: "min-width: 1400px";
