#tinymce ul,
.site-inner ul {
  list-style-type: none;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  li {
    list-style-type: none;
    margin-bottom: rem(10px);
    padding-left: rem(24px);
    position: relative;

    &:before {
      background-color: $gray-600;
      border-radius: 50%;
      content: "";
      height: 8px;
      left: 4px;
      position: absolute;
      top: 8px;
      width: 8px;
    }

    ul {
      margin-bottom: 0;
      margin-top: $small-spacing;
    }
  }
}

#tinymce ol,
.site-inner ol {
  margin: 0;
  margin-bottom: $base-spacing;
  margin-left: 0;
  padding: 0;

  li {
    margin-bottom: rem(12px);
    margin-left: rem(24px);
    position: relative;

    ol {
      margin-bottom: 0;
      margin-top: $small-spacing;
    }
  }
}

dl {
  margin-bottom: $base-spacing;

  dt {
    // font-weight: 600;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}

dl,
ol,
ul,
p {
  margin-bottom: $base-spacing;
}
