.staffTermStaffGrid.one24grid {
  @media ($large-screen-up) {
    row-gap: rem(64);
  }
}

.staffArchBlock {
  .image-wrap {
    border-radius: rem(12);
    overflow: hidden;
    background-color: $blue-200;
    max-width: rem(400);
    margin-left: auto;
    margin-right: auto;

    img {
      display: block;
      transition: all $base-timing $base-duration;
    }
  }

  .name {
    margin-top: rem(20);
    font-size: rem(20);
    transition: all $base-timing $base-duration;
  }

  .position {
    color: $gray-600;
  }
}

.staffArchBlockLink {
  &:hover {
    .image-wrap img {
      opacity: 0.4;
    }

    .name {
      color: $blue-200;
    }
  }
}
