.post-type-archive-testimonial {
  .testimonial {
    background-color: $blue;
    padding: rem(64);
  }

  .testimonial-archive-list {
    display: flex;
    flex-direction: column;
    gap: rem(32);

    @media ($large-screen-up) {
      gap: rem(48);
    }
  }
}
