.post-type-archive-projects {
  .project {
    background-color: $light-gray;
    display: inline-block;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: $base-spacing;

    @media ($large-screen-up) {
      flex-direction: row;
      align-items: center;
      gap: $base-spacing * 2;
    }

    .project-img {
      @media ($large-screen-up) {
        @include span-columns(3);
      }
    }

    .project-info {
      @media ($large-screen-up) {
        @include span-columns(9);
      }

      .project-title {
        text-transform: uppercase;
      }

      .project-cats {
        color: #777;

        span {
          border-right: rem(1) solid #999;
          padding-right: 0.3em;

          &:last-child {
            border: none;
            padding-right: 0;
          }
        }
      }
    }
  }
}
