.one23grid,
.one2grid {
  .story {
    padding: 0 !important;
    width: 100%;
  }
}

.story {
  display: block;
  margin-top: 2px;

  .story-img {
    height: rem(250);
    margin-bottom: 20px;
    position: relative;
    @include bg();

    &::before {
      background-color: $light-blue;
      content: "";
      display: block;
      inset: 0;
      opacity: 0;
      position: absolute;
      transition: opacity $base-timing $base-duration;
    }

    &:hover {
      &::before {
        opacity: 0.5;
      }
    }
  }

  .story-date {
    font-size: rem(15);
  }

  .story-title {
    font-weight: 600;
    margin-bottom: 0.5em;

    a {
      color: $dark-gray;

      &:hover {
        color: $blue;
      }
    }
  }

  .story-cats {
    margin-bottom: 1em;

    span {
      border-right: 1px solid #555;
      padding-right: 0.3em;

      &:last-child {
        border: none;
        padding-right: 0;
      }
    }
  }

  .story-blurb-content {
    color: #555;
    font-size: rem(14);
    margin-bottom: 0.75em;
  }

  .read-more {
    font-size: rem(14);
    font-weight: 500;
  }
}

//Single
.post-template-default.single {
  .site-inner {
    .wrap {
      max-width: 650px;
    }
  }

  .post {
    .entry-footer {
      font-weight: bold;
    }
  }
}

.locations-list .story {
  .story-img {
    @media ($large-screen-up) {
      height: 300px;
    }
  }
}
