.one23grid,
.one2grid {
  .story {
    width: 100%;
    padding: 0 !important;
  }
}

.story {
  display: block;
  padding: 0 1.5em;
  margin-top: 2px;

  .story-img {
    height: 190px;
    margin-bottom: 20px;
    @include bg();

    &:hover {
      &::before {
        transform: translate(0);
      }
    }
  }

  .story-date {
    font-size: em(15);
  }

  .story-title {
    font-weight: 600;
    margin-bottom: 0.5em;

    a {
      color: $gray-900;

      &:hover {
        color: $action-color;
      }
    }
  }

  .story-cats {
    margin-bottom: 1em;

    span {
      border-right: 1px solid #555;
      padding-right: 0.3em;

      &:last-child {
        border: none;
        padding-right: 0;
      }
    }
  }

  .story-blurb-content {
    color: #555;
    font-size: em(14);
    margin-bottom: 0.75em;
  }

  .read-more {
    font-size: em(14);
    font-weight: 500;
  }
}

//Single
.post-template-default.single {
  .site-inner {
    .wrap {
      max-width: 650px;
    }
  }

  .post {
    .entry-footer {
      font-weight: bold;
    }
  }
}

.locations-list .story {
  .story-img {
    @media ($large-screen-up) {
      height: 300px;
    }
  }
}
