.post-type-archive-tribe_events {

    .tribe-events-list-separator-month:before {
    	display: none;
    }
	
	.tribe-bar-views-list li.tribe-bar-views-option,
	li.tribe-events-nav-previous,
	li.tribe-events-nav-next,
	#legend_box #legend li,
	h2.tribe-events-list-event-title,
	.tribe-events-notices li {
	    &:before {
	        display: none;
	    }
	}

	.tribe-events-event-url a {
	    word-break: break-word;
	}

	.tribe-events-loop {

		.tribe-events-list-event-title {
			font-size: 1.3em;
			line-height: 1.2em;
			text-transform: uppercase;
			margin-bottom: 0.2em;
		}

		.tribe-events-event-meta {
			font-size: 14px;
			margin-bottom: 2em !important;

			.event-is-recurring .tribe-events-divider {
				margin: 0 0.3em;
			}
		}
	}

	.tribe-events-event-image {
		width: 100% !important;
		@include media( $medium-screen-up ) {
			width: 30% !important;
		}
	}

	.tribe-events-list-event-info {
		float: left;
		@include media( $medium-screen-up ) {
			width: 67%;
		}
	}

	.tribe-events-tooltip {

		.entry-title {
			font-size: 1.5em;
			margin-bottom: 0;
			text-transform: uppercase;
		}

		.tribe-event-duration {
			font-size: 14px;
		}
	}
}

/****
Events Single
****/
.single-tribe_events {

	.site-inner > .wrap {
		max-width: none;
		width: 100%;

		#tribe-events-pg-template {
			max-width: none;
			padding: 0;
		}
	}

	#tribe-events {

		#tribe-events-content {
			margin: 0 auto;
			padding: 0;
			max-width: 1200px;
			width: 90%;
			
			.tribe-events-single-event-title {
				margin: 0;
				padding: 0;
				font-weight: normal;
				text-transform: uppercase;
				font-size: em(32);
			}

			.tribe-events-schedule {
				background: none;
				border: none;
				margin: 0;
				padding: 0;
			}
		}

		.tribe-events-event-meta {
			margin-bottom: 0;
		}
	}

	#flexible-section-repeater .page-flexible-section:first-child {
		margin-top: 4em; 		
	}
}

.tribe-events-notices {

	li:before {
		display: none;
	}
}

.tribe-events-nav-pagination {

	.tribe-events-sub-nav {

		li {
			padding: 0;

			a {
				padding: 10px 12px;
				font-size: 12px;

				@include media( $medium-screen-up ) {
					font-size: 15px;
				}

				span {
					position: static;
					display: inline-block;
				}
			}
		}
	}
}

#tribe-events-content {
	.tribe-events-ical {
		background: none;
		color: #333;

		@include media( $medium-screen-up ) {
			background: $primary-color;
			color: #fff;
		}
	}
}