// Mobile Navigation Variables
$mm-bg-color: $dark-gray;

body {
  position: relative;
  overflow-x: hidden;

  &.locked {
    overflow: hidden;
  }
}

.site-container {
  height: 100%;
  //   overflow: hidden;
  position: relative;
  right: 0;
  transition: all $medium-duration $base-timing;
  width: 100%;

  &.move-left {
    right: rem(285);
  }
}

.mobile-menu {
  box-sizing: border-box;
  padding: rem(30);
  background-color: $mm-bg-color;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: rem(-300);
  top: 0;
  width: rem(300);
  z-index: 2000;
  transition: all $medium-duration $base-timing;
  font-size: 1rem;

  &.move-in {
    right: 0;
  }

  .admin-bar & {
    margin-top: rem(32);

    @media (max-width: rem(782)) {
      margin-top: rem(46);
    }
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu > li {
    margin-left: 0;
    &:before {
      content: none;
    }
    &:last-child {
      border-bottom: 0;
      margin-bottom: 0;
      padding-bottom: 0;
    }
    & > a {
      font-family: $base-font-family;
      font-weight: 600;
      color: white;
      display: block;
      margin-bottom: rem(20);
      line-height: 1em;
      text-transform: uppercase;
    }
    &.menu-item-has-children {
      position: relative;

      &:after {
        transition: all $medium-duration $base-timing;
        background-image: url("../../icons/src/arrow-white.svg");
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        content: "";
        cursor: pointer;
        height: rem(26);
        position: absolute;
        right: rem(-5);
        top: rem(-3);
        transform: rotate(0);
        width: rem(26);
      }
      &.active {
        &:after {
          transform: rotate(90deg);
        }
      }
      .sub-menu {
        padding-left: rem(10);
        display: none;
        margin-bottom: rem(22);
        margin-top: rem(-10);

        li {
          margin-left: 0;
          &:before {
            content: none;
          }
          &:first-child {
            margin-top: 0;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        a {
          color: $light-gray;
          font-family: $heading-font-family;
        }
      }
    }
  }

  .icon-close-container {
    position: absolute;
    width: rem(28);
    height: rem(28);
    top: rem(16);
    right: rem(14);
    cursor: pointer;
    z-index: 99999;
    transition: all $base-timing $base-duration;

    &:hover {
      svg {
        fill: $blue;
      }
    }
  }

  .icon-close {
    width: rem(28);
    height: rem(28);

    svg {
      fill: $medium-gray;
    }
  }
}

.mobile-menu-search {
  margin-top: rem(30);
  input[type="submit"] {
    display: none !important;
  }
}
