$sub-nav-bg-color: white;
$sub-nav-link-color: rgba($base-font-color, 0.6);
$sub-nav-link-color-hover: $base-font-color;

.header-nav-wrap {
  display: none;

  @media ($large-screen-up) {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }
}

.header-nav-wrap .menu {
  clear: both;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1;
  margin: 0;
  padding: 0;
  width: 100%;

  .menu-item {
    display: inline-block;
    font-size: $base-font-size;
    margin-bottom: 0;
    position: relative;
    text-align: left;

    &:after {
      content: "";
      height: 20px;
      left: 0;
      position: absolute;
      top: 100%;
      width: 100%;
    }

    > a {
      color: $gray-600;
      display: block;
      padding: 1em 0.4em;
      font-weight: 500;

      @media ($xl-screen-up) {
        padding: 1em 0.8em;
      }
    }

    a:hover,
    a:focus,
    &.current-menu-item > a,
    &.current-menu-ancestor > a,
    &.current-menu-parent > a,
    &.menu-item-has-children.menu-item-hover > a {
      color: $blue-900;
    }

    &:hover,
    &:focus {
      > .sub-menu {
        opacity: 1;
        top: 100%;
        visibility: visible;
      }
    }

    &:last-child > a,
    &.last > a {
      padding-right: 0;
    }

    .sub-menu {
      background: $sub-nav-bg-color;
      margin: 10px 0 0 -15px;
      opacity: 0;
      padding: 30px 30px;
      position: absolute;
      top: 250%;
      transition: all $medium-duration $base-timing;
      visibility: hidden;
      width: 200px;
      z-index: 100;

      li {
        display: block;
        margin: 0;

        &:after {
          display: none;
        }

        a {
          color: $sub-nav-link-color;
          font-size: em(14);
          padding: 0 0 1em 0;
          position: relative;

          &:after {
            display: none;
          }

          &:hover {
            color: $sub-nav-link-color-hover;
          }
        }

        &.current-menu-item > a,
        &.current-menu-item > a:hover,
        &.current-menu-item > a:focus {
          color: $sub-nav-link-color-hover;
        }

        &:last-child a {
          padding: 0;
        }
      }

      .sub-menu {
        margin: -41px 0 0 199px;
      }

      &.edge {
        left: auto;
        right: 0;
      }
    }

    &.nav-button {
      a {
        background: $action-color;
        color: $white;
        display: inline-block;
        font-family: $heading-font-family;
        font-size: em(14);
        -webkit-font-smoothing: antialiased;
        font-weight: 400;
        line-height: 1em;
        margin-left: 1em;
        padding: 0.8em 1em;
        text-transform: uppercase;

        &:hover {
          background: shade($action-color, 20%);
        }
      }
    }
  }
}

.secondary-nav-wrap {
  align-items: center;
  display: flex;
  gap: 1.6em;

  .menu {
    font-size: rem(12);
    a {
      color: $gray-600;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }
  }

  .switcher.notranslate .option {
    position: absolute;
  }
}
