$xsmall-b-height-mobile: rem(200);
$xsmall-b-height: rem(250);
$small-b-height: rem(350);
$med-b-height: rem(600);
$large-b-height: rem(725);

.banner-slider {
  display: block;
  font-size: 80%;
  width: 100%;

  @media ($large-screen-up) {
    font-size: 100%;
  }

  .banner_slide {
    > .wrap {
      height: 100%;
      position: relative;
      padding: 5em 0;

      @media ($large-screen-up) {
        padding: 0;
      }
    }
  }

  &.small-height-banner {
    .banner_slide {
      @media ($large-screen-up) {
        height: $small-b-height;
      }
    }
  }

  &.medium-height-banner {
    .banner_slide {
      @media ($large-screen-up) {
        height: $med-b-height;
      }
    }
  }

  &.large-height-banner {
    .banner_slide {
      @media ($large-screen-up) {
        height: $large-b-height;
      }
    }
  }

  &.full-screen-height-banner {
    .banner_slide {
      @media ($large-screen-up) {
        height: 100vh;
      }
    }
  }

  &.hide_banner_image {
    .banner_slide {
      border-bottom: 1px solid #eee;
      height: $xsmall-b-height-mobile;

      @media ($large-screen-up) {
        height: $xsmall-b-height;
      }
    }
  }
}

.home-hero-outer .banner-slider {
  position: relative;
}

.banner_slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  .banner_content {
    width: 100%;
    z-index: 10;
    position: relative;

    @media ($large-screen-up) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .banner_title {
    line-height: 1;
  }

  .banner_subtitle,
  .banner_title {
    margin-bottom: 0;
    text-align: center;
  }

  .banner_subtitle {
    font-size: rem(18);
    margin-top: rem(18);

    a {
      color: white;

      &:hover {
        color: white;
      }
    }
  }

  .button-wrap {
    gap: rem(16);
    justify-content: center;
    margin-top: rem(24);

    @media ($large-screen-up) {
      margin-top: rem(32);
    }
  }

  &.light-text {
    background-color: $dark-gray;

    .banner_subtitle,
    .banner_title {
      color: white;
    }
  }

  &.dark-text {
    background-color: white;

    .banner_subtitle,
    .banner_title {
      color: $dark-gray;
    }
  }

  &.video-slide {
    video {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: auto;
      left: 50%;
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      visibility: hidden;
      width: auto;

      @media (max-width: $large-screen) {
        display: none;
      }
    }

    &.slick-current {
      video {
        visibility: visible;
      }
    }
  }

  .overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    &.dark-overlay {
      background-color: rgba(0, 0, 0, 0.5);
    }

    &.light-overlay {
      background-color: rgba(241, 250, 249, 0.6);
    }
  }

  &.has-image {
    .banner_content {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: rem(32);
      justify-content: center;

      @media ($large-screen-up) {
        flex-direction: row;
        gap: rem(64);
      }
    }

    .banner_image {
      max-width: rem(320);

      @media ($xl-screen-up) {
        max-width: rem(520);
      }
    }

    .banner_title,
    .banner_subtitle {
      @media ($large-screen-up) {
        text-align: left;
      }
    }

    .button-wrap {
      @media ($large-screen-up) {
        justify-content: flex-start;
      }
    }
  }
}
