$small-b-height: rem(350);
$med-b-height: rem(550);
$large-b-height: rem(750);

.home-hero-outer,
.page-hero-wrap {
  position: relative;
  margin-top: -57px;

  @media ($large-screen-up) {
    margin-top: -68px;
  }
}

.banner-slider {
  display: block;
  width: 100%;

  &.small-height-banner {
    .banner_slide {
      @media ($large-screen-up) {
        min-height: $small-b-height;
      }
    }
  }

  &.medium-height-banner {
    .banner_slide {
      @media ($large-screen-up) {
        min-height: $med-b-height;
      }
    }
  }

  &.large-height-banner {
    .banner_slide {
      @media ($large-screen-up) {
        min-height: $large-b-height;
      }
    }
  }

  &.full-screen-height-banner {
    .banner_slide {
      @media ($large-screen-up) {
        min-height: $med-b-height;
        height: 100vh;

        .show-alert-bar & {
          height: calc(100vh - 71px);
        }
      }
    }
  }

  &.hide_banner_image {
    .banner_slide {
      border-bottom: rem(1) solid #eee;

      & > .wrap {
        padding: 5em 0;
      }
    }
  }
}

.home-hero-outer .banner-slider {
  position: relative;
}

.banner_slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex !important;
  align-items: center;
  box-sizing: border-box;
  padding-top: 57px;

  @media ($large-screen-up) {
    padding-top: 68px;
  }

  & > .wrap {
    position: relative;
    padding: 5rem 0;

    @media ($large-screen-up) {
      padding: 7rem 0;
    }
  }

  .banner_content {
    width: 100%;
    z-index: 10;
    position: relative;
  }

  .banner_title {
    line-height: 1;
  }

  .banner_subtitle,
  .banner_title,
  #heading-one {
    margin-bottom: 0;
    text-align: center;
  }

  .banner_subtitle {
    font-size: rem(20);
    margin-top: rem(18);

    a {
      color: white;

      &:hover {
        color: white;
      }
    }
  }

  .button-wrap {
    gap: rem(16);
    justify-content: center;
    margin-top: rem(24);
  }

  &.light-text {
    background-color: $dark-gray;

    .banner_subtitle,
    .banner_title {
      color: white !important;
    }
  }

  &.dark-text {
    background-color: white;

    .banner_subtitle,
    .banner_title {
      color: $dark-gray !important;
    }
  }

  &.video-slide {
    video {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: auto;
      left: 50%;
      min-height: 100%;
      min-width: 100%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      visibility: hidden;
      width: auto;

      @media (max-width: $large-screen) {
        display: none;
      }
    }

    &.slick-current {
      video {
        visibility: visible;
      }
    }
  }

  .overlay {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;

    &:after {
      background: linear-gradient(rgba(0,0,0,.7),transparent 30%);
      bottom: 0;
      content: "";
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }

    &.dark-overlay {
      background-color: rgba(0, 0, 0, 0.4);
    }

    &.light-overlay {
      background-color: rgba(241, 250, 249, 0.7);
    }
  }

  &.has-image {
    .banner_content {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: rem(32);
      justify-content: center;

      @media ($large-screen-up) {
        flex-direction: row;
        gap: rem(64);
      }
    }

    .banner_image {
      max-width: rem(320);

      @media ($xl-screen-up) {
        max-width: rem(520);
      }
    }

    .banner_title,
    .banner_subtitle {
      @media ($large-screen-up) {
        text-align: left;
      }
    }

    .button-wrap {
      @media ($large-screen-up) {
        justify-content: flex-start;
      }
    }
  }
}
