.singleStaffDetailsInner {
  background: white;
  margin: 0 auto $base-spacing;
  max-width: 350px;
  padding: $base-spacing;

  img {
    display: block;
  }

  @media screen and (min-width: 750px) {
    margin-bottom: 0;
    margin-right: $base-spacing;
    min-width: 350px;
    width: 350px;
  }

  .singleStaffName {
    margin-top: $small-spacing;

    .post-title {
      font-size: em(34);
      margin-bottom: 0;
    }
  }
}

.singleStaffContact {
  margin-top: $small-spacing;
}

.single-staff {
  .content {
    @media screen and (min-width: 750px) {
      display: flex;
    }
  }

  .entry-footer {
    display: none;
  }
}
