$icon-color: white;

.alert-bar {
  background: $primary-color;
  color: white;
  text-align: center;
  padding: 1em 0;

  .alert-text p {
    line-height: 1.5em;
    font-size: em(18);
    margin-bottom: 0;
    display: inline-block;
  }

  .alert-button a {
    margin: 0.5em 0 0.5em 1em;
    font-size: em(12);
    padding: 0.5em 1em 0.4em 1em;
  }
}

.site-header {
  background-color: #fff;
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 900;
  border-bottom: 1px solid #eee;
  transition: all $medium-duration $base-timing;

  .fixed-header & {
    position: absolute;
    transition: right $medium-duration $base-timing,
      background-color $base-duration $base-timing;

    &.scrolled {
      position: fixed;
    }
  }

  .fixed-header .move-left &.scrolled {
    right: 300px;
  }

  > .wrap {
    display: flex;
    align-items: center;
    position: relative;
  }

  /* Title Area */
  .title-area {
    padding: 1em 0;

    .site-title {
      font-size: em(40);
      font-weight: 500;
      margin-bottom: 0;

      a {
        color: $dark-gray;
      }

      a:focus,
      a:hover {
        color: $action-color;
      }
    }

    .site-description {
      font-family: $base-font-family;
      font-size: $base-font-size;
      font-weight: 500;
      margin-bottom: 0;
    }

    .header-image & {
      .site-description,
      .site-title {
        display: block;
        text-indent: -9999px;
        font-size: 1em;
      }

      .site-title > a {
        background-color: transparent;
        background-image: url("assets/images/logo.png");
        background-position: left center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        height: 28px;
        width: 198px;
        transition: opacity $base-duration $base-timing;
        float: left;

        @media ($large-screen-up) {
          height: 36px;
          width: 258px;
        }

        &:before {
          content: "";
          background-image: url("assets/images/logo.png");
        }
      }
    }
  }

  /* Header Right */
  .widget-area {
    width: 100%;
    // display: none;

    @media ($large-screen-up) {
      padding-left: $base-spacing;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .genesis-nav-menu {
      display: none;
      @media ($large-screen-up) {
        display: block;
        // padding-right: 65px;
      }
    }

    .widget {
      margin: 0;

      li li {
        margin-left: 0;
      }
    }

    .widget_text {
      p {
        margin: 0;

        a {
          font-size: em(16);
          line-height: 1em;
          text-transform: uppercase;
          background: $action-color;
          padding: 0.8em 1em;
          margin-left: 1.5em;
          color: $white;
          display: inline-block;
          font-weight: bold;

          &:hover {
            background: shade($action-color, 20%);
          }
        }
      }
    }
  }

  .top-icon-section {
    position: absolute;
    right: 0;
    top: 15px;

    @media ($large-screen-up) {
      top: auto;
    }

    .searchPhoneWrap {
      padding: 8px 0 8px $base-spacing;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 0 $base-spacing * 2 0 0;

      @media ($large-screen-up) {
        border-left: $base-border;
        border-color: #999;
        margin: 0;
      }
    }

    .phoneIcon,
    .searchIcon {
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      transition: all $base-duration $base-timing;
      opacity: 0.6;
      height: 18px;
      width: 18px;

      svg {
        fill: transparent;
        stroke: $dark-gray;
        width: 18px;
        height: 18px;
      }

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
    }
  }
}
