/upgrade/
/uploads/
/themes/accel434/node_modules
/themes/accel434/.sass-cache
/themes/accel434/npm-debug.log
.DS_Store
cache
/autoptimize_404_handler.php
/mu-plugins/wp-migrate-db-pro-compatibility.php
/ewww/
