.accordion-row {
}

.accordion-row-header {
  align-items: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  &:hover,
  &.active-ar {
    .ac-row-title {
      color: $blue;
    }

    .ac-row-toggle {
      &:before,
      &:after {
        background: $blue;
      }
    }
  }
}

.ac-row-title {
  font-size: rem(16);
  max-width: 84%;
  transition: all $base-duration $base-timing;
}

.ac-row-toggle {
  position: relative;

  &:before,
  &:after {
    background: $base-font-color;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    top: -2px;
    transition: all $base-duration $base-timing;
    width: 14px;
  }

  &:before {
    right: 15px;
    transform: rotate(45deg);
  }

  &:after {
    right: 7px;
    transform: rotate(-45deg);
  }

  .active-ar & {
    &:before {
      transform: rotate(-45deg);
    }

    &:after {
      transform: rotate(45deg);
    }
  }
}

.accordion-row-content {
  display: none;
  overflow: hidden;
}

.accordions-columns-wrap.one2gridlarge {
  gap: $small-spacing;

  @media ($large-screen-up) {
    gap: 2rem;
  }
}
