.page-section-stories {
  overflow: hidden;

  .blog-feed-slider {
    position: relative;
    // padding: 0 0.5em;

    @media ($medium-screen-up) {
      margin-left: -1.5em;
      width: calc(100% + 3em);
    }
  }
}
