.page-section-stories {
  overflow: hidden;

  .blog-feed-slider {
    position: relative;

    @media ($medium-screen-up) {
      margin-left: -$base-spacing;
      width: calc(100% + 3em);
    }
  }

  .story {
    padding: 0 $base-spacing;
  }
}
