.boxes-section {
  position: relative;

  &.background-wave {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    padding: $mobile-section-margin 0;

    @media ($large-screen-up) {
      margin-bottom: 0 !important;
      margin-top: 0 !important;
      padding: $desk-section-margin 0;
    }

    .wave-bg-wrap {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 50%;
      z-index: -1;

      svg {
        height: 100%;
        width: 100%;
      }
    }
  }

  .boxes {
    display: flex;
    flex-wrap: wrap;
    gap: rem(40);
  }

  .box {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: rem(48);
    position: relative;

    @media (min-width: 400px) {
      min-width: rem(200);
    }

    @media ($xl-screen-up) {
      padding: rem(64) rem(56);
    }

    &.box-type-icon {
      align-items: center;
      text-align: center;
    }

    &.linked {
      &:not(.has-button) {
        &:hover {
          transform: scale(1.05);
        }
      }
    }
  }

  .icon-wrap img {
    height: auto;
    max-width: rem(108);
  }

  .box-title {
    @media ($large-screen-up) {
      font-size: rem(40);
    }
  }

  .fake-link {
    font-size: rem(14);
  }

  .button-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: rem(18);
    align-items: center;
  }
}
