#flexible-section-repeater {
  .content-section {
    .content-section-wrap {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    p:last-child {
      margin-bottom: 0;
    }

    .content-section-content {
      width: 100%;
    }

    .l-content,
    .r-content,
    .third-content {
      @include span-columns(12);
      @include omega();
    }

    .l-content,
    &.thirty-three .r-content {
      margin-bottom: $base-spacing;
      @media ($large-screen-up) {
        margin-bottom: 0;
      }
    }

    @media ($large-screen-up) {
      &.fifty-fifty {
        .l-content {
          @include span-columns(6);
        }
        .r-content {
          @include span-columns(6);
          @include omega();
        }
      }

      &.thirty-seventy {
        .l-content {
          @include span-columns(4);
        }
        .r-content {
          @include span-columns(8);
          @include omega();
        }
      }

      &.seventy-thirty {
        .l-content {
          @include span-columns(8);
        }
        .r-content {
          @include span-columns(4);
          @include omega();
        }
      }

      &.thirty-three {
        .l-content,
        .r-content {
          @include span-columns(4);
        }

        .third-content {
          @include span-columns(4);
          @include omega();
        }
      }
    }
  }
}
