#flexible-section-repeater {
  .fifty-fifty-section {
    background: $light-gray;
    position: relative;

    > .wrap {
      display: flex;
      flex-direction: column;

      @media ($large-screen-up) {
        flex-direction: row;

        &.content-right {
          flex-direction: row-reverse;
        }
      }
    }

    .item {
      width: 100%;

      @media ($large-screen-up) {
        width: 50%;
      }

      &.content-section {
        padding: 4em 0;

        p {
          font-size: rem(16);
        }

        @media ($large-screen-up) {
          padding: 6em 0;
        }
      }

      &.left {
        .content-section__inner {
          @media ($large-screen-up) {
            padding-right: rem(96);
          }
        }
      }

      &.right {
        .content-section__inner {
          @media ($large-screen-up) {
            padding-left: rem(96);
          }
        }
      }

      &.image {
        background-color: black;
        height: rem(400);
        position: relative;

        @media ($large-screen-up) {
          $pos-percent: 50%;
          display: block;
          height: 100%;
          position: absolute;
          width: 50%;

          &.left {
            left: $pos-percent;
          }
          &.right {
            right: $pos-percent;
          }
        }

        .bg {
          background-position: center;
          background-repeat: no-repeat;
          height: 100%;
          width: 100.1%;

          &.has-content-over {
            opacity: 0.5;
          }
        }

        .image-blurb-wrap {
          display: block;
          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;

          @media ($large-screen-up) {
            max-width: rem(600);
          }

          .image-blurb-inner-wrap {
            display: block;
            height: 100%;
            position: relative;
            width: 100%;
          }

          .image-blurb-content {
            color: white;
            font-size: rem(20);
            padding-left: $base-spacing;
            padding-right: $base-spacing;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            @media ($large-screen-up) {
              padding-left: rem(64);
            }

            @media ($full-screen-up) {
              padding-right: 0;
            }
          }

          &.content-right {
            left: auto;
            right: 0;

            .image-blurb-content {
              @media ($large-screen-up) {
                padding-left: $base-spacing;
                padding-right: rem(64);
              }

              @media ($full-screen-up) {
                padding-left: 0;
              }
            }
          }
        }

        .video-bg-overlay {
          background: $dark-gray;
          inset: 0;
          opacity: 0.7;
          position: absolute;
        }

        .arve {
          inset: 0;
          position: absolute;
          z-index: 200;

          .arve-embed {
            opacity: 0;
          }
        }

        .play-button {
          border: rem(2) solid white;
          border-radius: 50%;
          height: rem(80);
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          transition: all $base-duration $base-timing;
          width: rem(80);
          z-index: 200;

          &:after {
            border-color: transparent transparent transparent white;
            border-style: solid;
            border-width: rem(12) 0 rem(12) rem(20);
            content: "";
            display: block;
            height: 0;
            left: 50%;
            position: absolute;
            top: 50%;
            transform: translate(-40%, -50%);
            transition: all $base-duration $base-timing;
            width: 0;
            z-index: 200;
          }
        }

        &:hover {
          .play-button {
            height: rem(110);
            width: rem(110);

            &:after {
              border-width: rem(17) 0 rem(17) rem(25);
            }
          }
        }
      }
    }
  }
}
