.icon-blurb-section {

    .upper-content,
    .bottom-content {
        text-align: center;
        clear: both;
    }

    .bottom-content {
        margin-top: 2.5em;
    }

    .icon-blurb-grid .blurb {

        svg {
            fill: $primary-color;
            height: auto;
            transition: all $base-duration $base-timing;
            width: em(60px);
        }

        .inner-blurb {
            transition: all $base-duration $base-timing;

            .blurb-image-wrap {
                min-height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-bottom: 1em;

                .blurb-image {
                    width: 100px;
                }
            }

            .blurb-title {
                font-family: $heading-font-family;
                font-weight: normal;
                text-transform: uppercase;
                margin-bottom: 0.3em;
            }

            .blurb-text {
                margin-bottom: 0;
                font-size: em(14);
                color: $base-font-color;
            }

            .blurb-button {
                margin-top: 1.5em;
            }
        }

        &:hover {
            a .inner-blurb {
                opacity: 0.6;
            }
        }


    }

}