.projects-feed-section {
  .section-title {
    text-align: center;
  }

  .projects-feed-outer {
    position: relative;

    @media ($medium-screen-up) {
      margin-left: -1em;
      width: calc(100% + 2em);
    }

    .project {
      padding: 0 1em;
      display: block;

      &:focus {
        outline: none;
      }

      .project-img {
        height: rem(200);
        @include bg();
        margin-bottom: 1em;
        display: block;
      }

      .project-info {
        .project-title {
          // font-size: rem(18);
          // text-transform: uppercase;
          font-weight: bold;
        }

        .project-cats {
          margin-top: rem(-5);
          margin-bottom: 0.7em;
          color: $base-font-color;
        }

        .project-blurb {
          font-size: rem(14);
          color: $base-font-color;
        }

        .project-link {
          font-size: rem(14);
          text-transform: uppercase;
        }
      }
    }
  }

  .projects-feed-bottom {
    margin-top: 2em;
    text-align: center;
  }
}
