.ribbon-cta-section {
  .ribbon-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: rem(16);
    padding: rem(58);
    text-align: center;

    @media ($large-screen-up) {
      flex-direction: row;
      justify-content: space-between;
      padding-left: rem(80);
      padding-right: rem(80);
      text-align: left;
    }

    &.grad {
      background: $blue-green-grad;
    }
  }

  .ribbon-text {
    display: block;
  }

  .top-text,
  .bottom-text {
    color: white;
    line-height: 1;
    margin-bottom: 0;
  }

  .top-text {
    @media ($large-screen-up) {
      font-size: rem(36);
    }
  }

  .bottom-text {
    font-size: rem(24);
    margin-top: rem(12);
    font-weight: 300;
  }
}
