.testimonials-section {
  .section-title {
    color: white;
  }

  .testimonial-section-inner {
    background-color: $blue;
    padding: 3rem;

    @media ($large-screen-up) {
      padding: 4rem;
    }
  }

  .testimonial {
    max-width: rem(960);
    margin: 0 auto;
  }
}
