// Border Radius
.bbr {
  border-radius: $base-border-radius;
}

.bbrtl {
  border-top-left-radius: $base-border-radius;
}

.bbrtr {
  border-top-right-radius: $base-border-radius;
}

.bbrbr {
  border-bottom-right-radius: $base-border-radius;
}

.bbrbl {
  border-bottom-right-radius: $base-border-radius;
}

.br50 {
  border-radius: 50%;
}

// Border
.base-border {
  border: $base-border;
}

.base-border-top {
  border-top: $base-border;
}

.base-border-bottom {
  border-bottom: $base-border;
}

.base-border-left {
  border-left: $base-border;
}

.base-border-right {
  border-right: $base-border;
}

.special-offset-border {
  border-radius: rem(15) rem(90) rem(15) rem(30);
  position: relative;

  &:before {
    border-radius: rem(15) rem(90) rem(15) rem(30);
    content: "";
    inset: 0;
    outline: solid 2px $green-200;
    position: absolute;
    transform: translateX(15px) translateY(15px);
    transition: all $base-timing $base-duration;
    z-index: -1;
  }

  &.color.blue {

    &:before {
      outline-color: $blue-900;
    }
  }

  &.color.dark-gray {

    &:before {
      outline-color: $gray-900;
    }
  }
}

.boxes-border {
  border-radius: rem(15);
  position: relative;

  img {
    border-radius: rem(15);
  }

  &:before {
    border-radius: rem(15);
    content: "";
    inset: 0;
    outline: solid 2px $green-200;
    position: absolute;
    transform: translateX(15px) translateY(15px);
    transition: all $base-timing $base-duration;
    z-index: -1;
  }
}
