.bg-dark-gray {
  background-color: $dark-gray;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bg-medium-gray {
  background-color: $medium-gray;
}

.bg-blue {
  background-color: $blue;
}

.bg-light-blue {
  background-color: $light-blue;
}

.bg-white {
  background-color: white;
}

.grayscale {
  filter: grayscale(100%);
}
