.w100,
.w-full {
  width: 100%;
}

// Max Widths
.max-width-1200 {
  max-width: rem(1200);
}

.max-width-960 {
  max-width: rem(960);
}

.max-width-760 {
  max-width: rem(760);
}

.h-1 {
  height: rem(1);
}

.h-full {
  height: 100%;
}
