/* ## Site Containers
--------------------------------------------- */

.wrap {
  @include outer-container(1200px);
  width: 90%;
}

.site-inner {
  .wrap {
    @media ($large-screen-up) {
      @include outer-container(1200px);
    }

    .archIntroText {
      margin-bottom: 3.5em;
    }
  }
}

.single-post .post,
.single-post .jump-table-content,
.single-staff .site-inner,
.single-tribe_venue .site-inner,
.blog .site-inner,
.archive .site-inner,
.search .site-inner,
.page-template-default .site-inner {
  margin-top: $mobile-section-margin;
  margin-bottom: $mobile-section-margin;
  @media ($large-screen-up) {
    margin-top: $desk-section-margin;
    margin-bottom: $desk-section-margin;
  }
}

.single-tribe_events .site-inner {
  margin-top: $mobile-section-margin;
  @media ($large-screen-up) {
    margin-top: $desk-section-margin;
  }
}

/* ## Column Widths and Positions
--------------------------------------------- */
/* ## Column Widths and Positions
--------------------------------------------- */
.content,
.sidebar-primary,
.full-width .content {
  @include span-columns(12);
  @include omega();
}

@media ($large-screen-up) {
  .content-sidebar-wrap {
    // @include outer-container(1200px);
    // display: flex;

    .content {
      @include span-columns(8);

      .full-width-content & {
        width: 100%;
      }
    }

    .sidebar-primary {
      @include span-columns(4);
    }

    .content-sidebar & {
      .sidebar-primary {
        margin-right: 0;
        margin-left: auto;
      }
    }

    .sidebar-content & {
      .content {
        order: 2;
        margin-right: 0;
        margin-left: auto;
      }

      .sidebar-primary {
        order: 1;
      }
    }
  }
}
